<div style="width:100%;margin-top:50px">
    <ul style="width: 200px;float: left;margin-left: 50px;">
        <li>
            <a href="/">Dasborad</a>
        </li>
        <li>
            <a href="/kanban">Kanban</a>
        </li>
        <li>
            <a href="/filemanager">File Manager</a>
        </li>
    </ul>
    <ul style="width: 200px;float: left;margin-left: 50px;">
        <li>
            <a href="#">Link</a>
        </li>
        <li>
            <a href="#">Link</a>
        </li>
        <li>
            <a href="#">Link</a>
        </li>
    </ul>
</div>