@import url(./../main.css);
@import url(../form.css);
@import url(../colors.css);

.cyan {
    background-color: var(--app-cyan-bg-color);
}

.azure {
    background-color: var(--app-azure-bg-color);
}

.lime {
    background-color: var(--app-lime-bg-color);
}

.app-manager-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.app-manager-header {
    display: flex;
    align-items: center;
    padding: 30px 10px;
    font-weight: 800;
    font-size: 20px;
    line-height: 132.5%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
}

.app-manager-header>img {
    margin-right: 18px;
}

main.app-manager-content>.content-top-section {
    padding: 30px 60px;
    background-color: var(--app-light-blue-bg-color);
    border: 1px solid var(--app-content-border-color);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06)
}

.content-top-section>h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.content-top-section>p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.content-search {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--app-content-border-color);
    margin-top: -20px;
}

.content-search>div {
    margin-top: 20px;
}

.content-search>div>span {
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1px;

}

.content-search>div>i {
    font-size: 12px;
    border: 2px solid var(--primary-border-color);
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;
}

.content-search>#search {
    margin-top: 10px;
    margin-left: -20px;
    border: none;
    padding: 20px 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.1px;
    text-align: end;
}

.content-search>#search:focus {
    outline: none;

}

.content-search>#search::placeholder {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.1px;
}

nav.content-nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.content-nav>ul>li {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 25px 0;
    padding: 0 35px;
    border-right: 1px solid var(--app-li-border-second-color);
}

nav.content-nav>ul>li:last-child {
    border-right: none;
}

nav.content-nav li>a {
    color: var(--primary-text-color);
    transition: all ease-in-out 0.3s;
}

nav.content-nav li>a:hover {
    color: var(--app-content-border-color);
}

/* content-bottom-section */

.content-bottom-section {
    border: 1px solid var(--app-li-border-color);
    border-top-width: 3px;
    margin-top: -20px;
    padding: 0 50px;
    overflow: hidden;
}

.app-btn {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: var(--primary-text-color);
    border-radius: 4px;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-content-left {
    margin-top: -7px;
}

.app-btn-red {
    background: var(--app-error-bg-color);
    border: 1px solid var(--app-error-border-color);
    padding: 15px 30px;
    margin-right: 7px;
}

.app-btn-red:last-child {
    font-weight: bold;
}

.header-content-right {
    display: flex;
    align-items: center;
}

.header-content-right>.header-user {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--app-dark-text-color);
    margin-bottom: 0;
    margin-right: 30px;

}

.header-content-right>.header-user>span {
    color: var(--app-error-text-color);
}

.green-border {
    border: 1px solid var(--app-success-border-color);
    padding: 15px 20px;
    font-weight: 700;
    margin-top: -7px;
}


.pagination-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
    cursor: pointer;
}

.pagination-box>a {
    font-weight: 700;
    font-size: 15px;
    line-height: 54px;
    margin-right: 8px;
    color: var(--app-gray-text-color);
}

.pagination-box>a.pagination-active {
    color: var(--dshb-cadetblue-color);
}

.pagination-box>a:hover {
    color: var(--dshb-cadetblue-color);
}



.pagination-select-sort>a {
    font-weight: 700;
    font-size: 15px;
    line-height: 54px;
    margin-right: 8px;
    padding: 8px 32px;
    background-color: rgba(106, 112, 126, 0.0001);
    border: 1px solid var(--app-border-third-color);
    position: relative;
}

.pagination-select-sort>a::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 30px;

}

.pagination-select-sort>a>i {
    background-color: rgba(106, 112, 126, 0.1);
    border-left: 1px solid var(--app-border-third-color);
    font-size: 13px;
    padding: 11px;
    position: absolute;
    right: 0px;
    top: 0;
}

.select-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    margin-left: -9px;
    display: none;
    position: relative;
}

.select-box>a {
    width: calc(100% - 18px);
    height: 100%;
    text-align: center;
    background-color: rgba(106, 112, 126, 0.0001);
    border: 1px solid var(--app-border-third-color);

}

.pagination-select-sort:hover>.select-box {
    display: flex;
}

/* app-price-container */

.app-price-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.app-price-box {
    width: 400px;
    min-width: 400px;
    display: flex;
    border-radius: 20px;
    border: 3px solid var(--app-border-second-color);
    padding: 10px;
    transition: all ease-in-out 0.3s;
}

.app-price-box:hover {
    cursor: pointer;
    border: 3px solid var(--app-price-border-color);
}

.app-update-container .price-box-left {
    /* margin-right: 15px;
    margin-left: 23px; */

    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;

}

.price-box-left>img {
    border-radius: 20px;
    padding: 22px;
    background-color: var(--app-light-fourth-bg-color);
    margin-right: 10px;
}

/* .price-box-right {
    margin-top: 17px;
    margin-right: 13px;
} */

.price-box-right>h2 {
    font-weight: 800;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: var(--primary-text-color);
}

.price-box-right>p {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
}

.price-button-box {
    display: flex;
    position: relative;
    bottom: -5px;
}

/* Buttun Box */
.button-box-left,
.button-box-right {
    margin-right: 3px;
    border: 1px solid var(--app-border-fifth-color);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
}

.button-box-right {
    width: 70%;
    /* background-color: var(--app-azure-bg-color); */
    background-color: var(--app-cyan-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.button-box-left {
    width: 25%;
    padding: 9px 15px;
    text-transform: uppercase;

}

.button-box-left>span {
    font-weight: 800;
    font-size: 13px;
    /* line-height: 16px; */
    letter-spacing: 0.1px;
}

.button-box-right>button {
    height: calc(100% - 2px);
    width: calc(50% - 2px);
    font-weight: 800;
    font-size: 13px;
    background-color: transparent;
    border: none;
    line-height: 16px;
    display: flex;
    align-items: center;
    padding: 9px 15px;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
}

.button-box-right>button>img {
    margin-right: 5px;
}

.button-box-right>button:hover {
    background-color: var(--app-azure-bg-color);
}

.button-box-right>button:first-child {
    padding-right: 0;
}

.free-button {
    background-color: var(--app-green-bg-color);
}

/* App Update  */
.app-update-container {
    border-top: 1px solid var(--app-border-fourth-color);
    border-bottom: 1px solid var(--app-border-fourth-color);
    padding-top: 27px;
    padding-bottom: 50px;
    margin-left: -50px;
    margin-right: -50px;
    margin-top: 25px;
}

.app-update-container> :where(header, main, footer) {
    border: 1px solid var(--app-border-color);
    border-radius: 10px;
    margin-left: 50px;
    margin-right: 50px;

}

.app-update-header {
    padding: 16px 81px;
    background-color: var(--app-light-five-bg-color);
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.app-update-header>p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: var(--primary-text-color);
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.app-update-header>p>img {
    margin-left: 15px;
    margin-right: 15px;
}

.app-update-header>p>span.app-number {
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.1px;
    margin-right: 9px;
    color: var(--app-cyan-text-color);
}

.app-update-header>p>span.bold {
    font-weight: 800;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1px;
    text-transform: capitalize;
    color: var(--primary-text-color);
}

/* App Update */
.app-update-main {
    padding: 35px 75px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 53px 24px;
    background-color: var(--app-light-five-bg-color);
}

.app-update-main>.app-price-box {
    background-color: var(--app-light-bg-color);
    padding-right: 50px;
    /* padding-left: 0; */
}

.app-update-main>.app-price-box img {
    margin-right: 20px;
    margin-bottom: 15px;
}

/* ! App update Footer */
.app-update-footer {
    margin-top: 11px;
    padding: 13px 0;
    padding-right: 172px;
    background-color: var(--app-success-bg-color);
    text-align: end;
}

.app-update-button {
    background-color: var(--app-error-bg-color);
    border: 1px solid var(--app-error-border-color);
    border-radius: 4px;
    padding: 15px 35px;
    transition: all ease-in-out 0.3s;
}

.app-update-main>.app-price-box {
    border: 3px solid var(--app-price-border-color);
    margin: 0;
}

.app-update-button:hover {
    background-color: var(--app-button-hover-bg-color);

}

.price-box-left>input[type=checkbox] {
    width: 24px;
    height: 24px;
    margin-right: 22px;
    accent-color: var(--dshb-fourth-border-color);
    cursor: pointer;
}



.app-update-main .button-box-right>button:last-child {
    color: var(--app-text-color);
}

.app-update-main .button-box-right {
    width: 80%;
}

/* Customaze App Price Box */
.customaze-app-box {
    margin-top: 50px;
}

.price-static-container {
    width: 100%;
    text-align: center;
    position: relative;
    bottom: -20px;

}

.price-box-right {
    height: 100%;
    margin-left: 10px;
}

.price-box-aditional i {
    font-size: 13px;
    margin-right: 4px;
    color: var(--dshb-cadetblue-color);
}

.price-box-aditional i:nth-child(4) {
    margin-right: 15px;
}

.price-box-aditional a {
    font-style: normal;
    font-weight: 800;
    font-size: 13px;
    line-height: 16px;
    color: var(--dshb-cadetblue-color);
    border-left: 1px solid var(--dshb-cadetblue-color);
    padding-left: 15px;
}

.price-box-aditional span {
    font-style: italic;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-top: 13px;
    color: var(--primary-text-color);
}

/* ! Deploying Box */
.deploying-box {
    background: var(--app-light-third-bg-color);
    border: 1px solid var(--app-li-border-color);
    padding: 80px;
    width: 700px;
    position: relative;
    margin-top: 50px;
}

.close-button {
    right: 20px;
    top: 20px;
    position: absolute;
    border: 1px solid var(--primary-border-color);
    border-radius: 100%;
    width: 17px;
    height: 17px;
    text-align: center;
}

.deploying-box>h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: var(--primary-text-color);
    margin-bottom: 30px;
}

.loading-box {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

}

.loading-box>input[type=range] {
    width: 90%;
    margin-left: 20px;
    -webkit-appearance: none;
    appearance: none;
    background: var(--app-light-second-bg-color);
    cursor: pointer;
    width: 85%;
    height: 12.5px;
    overflow: hidden;
    border-radius: 100px;
    -webkit-transition: height 1s;
    -o-transition: height 1s;
    transition: height 1s;
    cursor: inherit;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--app-light-second-bg-color);
    border-radius: 100px;
}

input[type="range"]::-webkit-slider-thumb {
    /* box-shadow: -407px 0 0 400px ; */
    -webkit-appearance: none;
    width: 0;
    height: 0;
    -webkit-box-shadow: -400px 0 0 400px var(--app-box-shadow-color);
    box-shadow: -400px 0 0 400px var(--app-box-shadow-color);
}


/* !!!!!!!!!!!!!!! */

.deploying-box>span {
    margin-bottom: 27px;
    display: inline-block;
}

.deploying-box>span,
.deploying-box-list>li {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: var(--primary-text-color);
}

.deploying-box-list>li {
    margin-bottom: 7px;
}

.deploying-box-list {
    padding: 0;
    margin: 0;
}

.deploying-box-list i,
.deploying-box i {
    margin-right: 15px;
}

.deploying-box>span i {
    color: var(--app-second-text-color);
}