/* Import Font Family */
@import url('../main.css');


.app-meneger-container {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.app-meneger-header {
    display: flex;
    align-items: center;
    padding: 30px 10px;
    font-weight: 800;
    font-size: 20px;
    line-height: 132.5%;
    letter-spacing: -0.4px;
    text-transform: uppercase;
}

.app-meneger-header>img {
    margin-right: 18px;
}

main.app-meneger-content>.app-meneger-content-top-section {
    padding: 30px 60px;
    background-color: #F4FCFF;
    border: 1px solid #8ADCFD;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.06)
}

.app-meneger-content-top-section>h2 {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.app-meneger-content-top-section>p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.app-meneger-content-search {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #8ADCFD;
    margin-top: -20px;
}

.app-meneger-content-search>div {
    margin-top: 20px;
}

.app-meneger-content-search>div>span {
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.1px;

}

.app-meneger-content-search>div>i {
    font-size: 12px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
    margin-left: 5px;
}

.app-meneger-content-search>#search {
    margin-top: 10px;
    margin-left: -20px;
    border: none;
    padding: 20px 10px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.1px;
    text-align: end;
}

.app-meneger-content-search>#search:focus {
    outline: none;

}

.app-meneger-content-search>#search::placeholder {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.1px;
}

nav.app-meneger-content-nav>ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav.app-meneger-content-nav>ul>li {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    margin: 25px 0;
    padding: 0 35px;
    border-right: 1px solid #C9CBCC;
}

nav.app-meneger-content-nav>ul>li:last-child {
    border-right: none;
}

nav.app-meneger-content-nav li>a {
    color: black;
    transition: all ease-in-out 0.3s;
}

nav.app-meneger-content-nav li>a:hover {
    color: #8ADCFD;
}