.setting-container {
    container-type: inline-size;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 10px;
}

.setting-container header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.setting-container header>h1 {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
}

.setting-container header>h1>img {
    margin-right: 10px;
}

.header-left {
    margin-top: 25px;
}

.header-left>p {
    color: #545454;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.14px;
}

.setting-container header input {
    border: 1px solid #9aeeff;
    border-radius: 10px;
    padding: 10px 20px;
    padding-left: 40px;
    width: 100%;
    transition: all ease-in-out 0.3s;
    width: 450px;
}

.setting-container header input:is(:focus, :hover) {
    outline: none;
    border: 1px solid #69e6ff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.setting-container header input::placeholder {
    color: #9d9d9d;
    font-family: Plus Jakarta Sans;
    font-size: 15px;
    font-style: italic;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.15px;
}

.forms-search-box {
    position: relative;
    margin-top: 10px;
}

.forms-search-box>img {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 18px;
    opacity: 0.3;
}

.setting-container main {
    display: flex;
    /* position: relative; */
}

/* ! SETTING NAV */

.setting-nav {
    min-width: 230px;
    border-radius: 20px 0px 0px 20px;
    background: #f5f5f5;
    margin-bottom: -100px;
    display: flex;
}

.setting-nav li {
    border-bottom: 1px solid #dbdbdb;
    transition: all ease-in-out 0.3s;
}

.setting-nav li:hover {
    background: #fcfeff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
}

.setting-nav li>a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    transition: all ease-in-out 0.3s;
    color: #545454;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.14px;
}

.setting-nav>ul>li.list-active {
    transition: all ease-in-out 0.3s;
    background: #fcfeff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.07);
}

.setting-nav li>a>img:last-child {
    transition: all ease-in-out 0.3s;
    width: 24px;
    transform: rotate(-90deg);
    opacity: 0.5;
}

.setting-nav li.list-active>a {
    color: #040404;
}

.setting-nav li.list-active>a>img:last-child {
    transition: all ease-in-out 0.3s;
    opacity: 1;
}

.setting-nav li:last-child {
    border-bottom: 0;
}

.setting-content {
    width: 100%;
}

/* ! SETTING CONTENT NAV */
.setting-content-nav {
    display: flex;
    align-items: center;
}

.setting-content-nav>ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.setting-content-nav>ul>li {
    width: 180px;
    text-align: center;
    padding: 10px 0px;
    background: #c0f5ff;
    border: 1px solid #69e6ff;
    margin-right: 4px;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.setting-content-nav>ul>li>a {
    color: #5e5e5e;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    font-weight: 500;
}

.setting-content-nav>ul>li.list-active,
.setting-content-nav>ul>li:hover {
    background: #d8f0f4;
    color: #fff;
    border-color: transparent;
}

.setting-content-nav>ul>li.list-active>a,
.setting-content-nav>ul>li:hover>a {
    color: black;
    font-weight: 700;
}

.setting-content-nav li>a>img {
    display: none !important;
}

.setting-content-nav li>a {
    padding: 0;
    justify-content: center;
}

/* ! Buttons */
.header-right>button,
footer>button {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    letter-spacing: 0.1px;
    font-size: 14px;
    transition: all ease-in-out 0.3s;
}

.header-right>button:first-child,
footer>button:first-child {
    background: #f2f2f2;
    font-weight: 500;
    padding: 10px 30px;
}

.header-right>button:first-child:hover,
footer>button:first-child:hover {
    background: #ffffff;
}

.header-right>button:nth-child(2),
.header-right>button:nth-child(3),
footer>button:nth-child(2),
footer>button:nth-child(3) {
    background: #fff1cd;
    font-weight: 700;
    padding: 10px 20px;
}

.header-right>button:nth-child(2):hover,
.header-right>button:nth-child(3):hover,
footer>button:nth-child(2):hover,
footer>button:nth-child(3):hover {
    background: #f2dba3;
}

.header-right>button:nth-child(3)>img,
footer>button:nth-child(3)>img {
    width: 20px;
    margin-bottom: -5px;
    transform: rotate(90deg);
    margin-left: 15px;
}

/* ! connections apps */
.connections-apps {
    margin-top: 30px;
    margin-left: 20px;
}

.connections-apps>h3,
.list-item-left h4,
.notification-setting>h3,
.email-notification h4,
.filter-box h4 {
    color: #545454;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.16px;
}

.connections-apps>p,
.notification-setting>p,
.email-notification>div>p,
.filter-box p {
    color: #545454;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    /* 171.429% */
    letter-spacing: 0.14px;
    padding-bottom: 30px;
}

.connections-content>ul>li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #e1e1e1;
    align-items: center;
}

.list-item-left {
    display: flex;
    align-items: center;
}

.connections-content li img {
    border-radius: 20px;
    border: 1px solid #3fe9ff;
    background: #edfdff;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.03);
    padding: 15px;
    margin-right: 15px;
}

.list-item-right {
    display: flex;
    align-items: center;
}

.list-item-right>label:first-child {
    color: #545454;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.16px;
    margin-right: 30px;
    cursor: pointer;
}

/* ! Notification Setting */

.notification-setting {
    margin-top: 100px;
    margin-left: 20px;
}

.email-notification {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e1e1e1;
    padding-top: 20px;
}

.email-notification>div>p {
    max-width: 232px;
    margin-top: 5px;
}

.email-notification-left {
    width: 70%;
}

.email-notification-left li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.email-notification-left .list-item-left>div>p {
    color: #545454;
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    letter-spacing: 0.12px;
    margin-top: 5px;
}

.email-notification-left .list-item-left {
    align-items: flex-start;
}

.email-notification-left .list-item-left>div {
    margin-left: 15px;
}

.email-notification-left .list-item-left h5 {
    color: #545454;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.14px;
}

.email-notification-left .list-item-left p {
    color: #545454;
    font-size: 12px;
    font-weight: 500;
    line-height: 13px;
    /* 108.333% */
    letter-spacing: 0.12px;
}

.email-notification-left .dshb-dropdown-menu {
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    background: #f2f2f2;
    padding: 10px 15px;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.email-notification-left .dshb-dropdown-menu:hover {
    background: #ffffff;
}

.email-notification-left .menu-options {
    top: 44px !important;
    width: 100% !important;
    left: 0 !important;
    border: 1px solid #d8d8d8 !important;
}

.email-notification-left .menu-options p {
    font-size: 16px !important;
    padding: 5px;
}

/* ! Filter Box */
.filter-box {
    border: 1px solid #e3e3e3;
    padding: 15px 20px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.filter-box>div {
    display: flex;
    align-items: flex-start;
}

.filter-box>div>img {
    margin-top: -10px;
    margin-right: 15px;
}

.filter-box p {
    padding-bottom: 0;
    max-width: 213px;
    line-height: 17px;
}

.filter-box button {
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    background: #f2f2f2;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.1px;
    height: max-content;
    padding: 10px 15px;
    align-self: center;
    transition: all ease-in-out 0.3s;
}

.filter-box button:hover {
    background: #ffffff;
}

/* ! Profile Box */

.profile-box {
    margin-top: 100px;
    margin-left: 20px;
}

.profile-box>div {
    padding-top: 45px;
    padding-bottom: 30px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    gap: 30px;
}

.profile-box h4 {
    color: #545454;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.16px;
    margin-bottom: 5px;
}

.profile-box p {
    color: #545454;
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.14px;
}

.profile-box p:not(.company-profile > p) {
    max-width: 213px;
}

.profile-line {}

.profile-line>div {
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    background: #f2f2f2;
    width: 168px;
    height: 41px;
    margin-top: -1px;
    margin-left: -1px;
}

.profile-box textarea {
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    background: #fff;
    width: 403px;
    height: 140px;
    flex-shrink: 0;
    padding: 15px;
    font-size: 16px;
    resize: none;
}

.profile-box textarea:focus {
    outline: none;
    border: 1px solid #545454;
}

.profile-box textarea:hover {
    border: 1px solid #545454;
}

.tag-line span {
    margin-top: 20px;
    display: block;
    color: #545454;
    font-size: 15px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0.14px;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo-box>img {
    width: 78px;
}

.text-logo {
    display: flex;
    flex-direction: column;
}

.text-logo>span {
    color: #545454;
    font-size: 19px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0.19px;
}

/* ? Drop Down Box */
.drop-down-container {
    width: 30%;
    margin-left: 30px;
}

.drop-down-box {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
    border: 1.5px dashed #b5f3ff;
    background: rgba(47, 128, 237, 0.04);
}

.drop-down-box>img {
    margin-bottom: 10px;
}

.drop-down-box>h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: #313133;
    margin-bottom: 5px;
}

.drop-down-box>h3>span {
    color: #2f80ed;
}

.drop-down-box>p {
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #8b9ab1;
}

/* ! Branding box */
.branding-box {
    justify-content: space-between;
    margin-bottom: 30px;
}

.branding-box li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.branding-box>div:first-child {
    width: 22%;
}

.social-profiles {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-right: 50px;
}

/* ! Check Box */
.branding-box li>input[type="checkbox"] {
    appearance: none;
    --webkit-appearance: none;
    width: 29px;
    height: 30px;
    background-color: transparent;
    border-radius: 5px;
    border: 3px solid #000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.branding-box li>input[type="checkbox"]:after {
    content: "";
    background: url("../../assets/icons/check-black.svg") no-repeat center center;
    background-size: 16px;
    display: none;
}

.branding-box li>input[type="checkbox"]:checked:after {
    display: block;
    width: 29px;
    height: 30px;
}

.open-nav {
    display: none;
}

/* ! Footer */

footer {
    text-align: end;
    margin-bottom: 20px;
}

/* ! Custom Range Input */

.profile-line input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 4px;
    border: 1px solid #d8d8d8;
    background: #fff;
    width: 403px;
    height: 41px;
    margin-bottom: 13px;
}

/* Thumb: webkit */
.profile-line input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 41px;
    width: 7.5px;
    background-color: #f2f2f2;
    /* border-radius: 50%; */
    border: 2px solid #f2f2f2;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #f2f2f2;
}

/* Thumb: Firefox */
.profile-line input[type="range"]::-moz-range-thumb {
    height: 15px;
    width: 15px;
    background-color: #fff;
    /* border-radius: 50%; */
    border: 1px solid red;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #f2f2f2;
}

.setting-nav>ul {
    width: 100%;
}

.setting-content .table-body {
    min-width: 1200px;
}

.setting-content .dashboard-table {
    flex-direction: row;
    overflow-x: auto;
}

.company-logo>div:first-child {
    display: flex;
}

@container (max-width:1200px) {
    .setting-nav {
        display: none;
        height: 100vh;
        position: fixed;
        top: 0px;
        left: 0;
    }

    .setting-nav>button {
        display: block;
    }

    .drop-down-container {
        width: 50%;
    }

    .branding-box>div:first-child {
        width: 30%;
    }
}

@container (max-width:996px) {
    .setting-content-nav>ul>li {
        width: 160px;
        flex: 1 1 auto;
    }

    .setting-container header input {
        width: 340px;
    }

    .profile-box>div {
        flex-direction: column;
    }

    .profile-box p:not(.company-profile > p) {
        max-width: 95%;
    }

    .profile-box>div {
        gap: 15px;
    }

    .profile-line input[type="range"],
    .profile-box textarea,
    .drop-down-container {
        width: 80%;
    }

    .drop-down-container {
        margin-left: 0;
    }

    .branding-box>div:first-child {
        width: 85%;
    }

    .social-profiles {
        flex-direction: column;
        gap: 15px;
        margin-right: 0;
        width: 100%;
    }
}

@container (max-width:768px) {
    .setting-container header {
        flex-direction: column;
        gap: 15px;
        padding-left: 10px;
    }

    .header-right>button,
    footer>button {
        width: 33%;
    }

    .setting-container header input {
        width: 100%;
    }

    .setting-content-nav {
        margin-left: 10px;
    }

    .setting-content-nav>ul>li {
        width: 120px;
    }

    .connections-content>ul>li {
        gap: 15px;
    }

    .connections-content li img {
        width: 60px;
        padding: 10px;
        border-radius: 10px;
    }

    .email-notification {
        flex-direction: column;
    }

    .email-notification>div>p {
        max-width: 100%;
    }

    .email-notification-left,
    .profile-line input[type="range"],
    .profile-box textarea,
    .drop-down-container {
        width: 100%;
    }

    footer {
        text-align: start;
        margin-left: 20px;
    }

    .branding-box li>input[type="checkbox"] {
        width: 25px;
        height: 25px;
    }

}

@container (max-width:576px) {
    .header-right {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .header-right>button,
    footer>button {
        width: 100%;
        margin-bottom: 5px;
    }

    .connections-content>ul>li {
        flex-direction: column;
    }

    .list-item-right {
        align-self: flex-end;
    }

    .notification-setting,
    .profile-box {
        margin-top: 30px;
    }

    .setting-content-nav>ul>li {
        width: 70px;
    }

    .setting-content-nav>ul>li>a {
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
    }

    .setting-container header input {
        width: 100%;
    }

    .email-notification-left li {
        flex-direction: column;
        gap: 10px;
    }

    .email-notification-left .dshb-dropdown-menu {
        padding: 5px 10px;
    }

    .email-notification-left .menu-options p {
        padding: 0;
        font-size: 14px !important;
    }

    .email-notification-left .menu-options {
        top: 34px !important;
    }

    .filter-box {
        flex-direction: column;
        gap: 10px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0;
        margin-left: 10px;
    }

    .notification-setting {
        margin-left: 10px;
    }

    .filter-box button {
        width: 100%;
    }

    .drop-down-container {
        display: none;
    }

    .company-logo>div:first-child {
        flex-direction: column;
    }

    .branding-box>div:first-child {
        width: 100%;
    }

    .profile-box p:not(.company-profile > p) {
        width: 85%;
    }

    .profile-line input[type="range"] {
        height: 30px;
    }
}