

.rating{display:inline-block;}
.rating i {margin:0 1px 0 2px;color: #c2c2c2;}
.rating i.active {color: #fec507;}

.app-purchase-information{background:#ecf0f1;padding: 10px 15px;}
.app-purchase-information .api-search{width: 30%;}
.app-purchase-information .api-search .input-group .input-group-btn .btn{padding: 8px 12px;}

.api-purchase{float:right;}
.api-purchase .name{background:#d9dfe0;padding:9px 12px;-webkit-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;float: left;}
.api-purchase .name h6{font-size:12px;font-weight:600;color:#444;margin:0;}
.api-purchase .name h6 span{margin-left:10px;}
.api-purchase .button{background:#2ecc71;padding:7px 12px;-webkit-border-radius: 0 3px 3px 0;border-radius: 0 3px 3px 0;float: right;}
.api-purchase .button:hover{background:#27AE60;}
.api-purchase .button a{font-size:12px;font-weight:600;color:#fff;margin:0;}

.filter-gallery-item.buy .fg-content-side{margin-right: 135px!important;}
.fg-price-wrapper{text-align: center;background: #fafafa;border-left: 1px solid #e2e2e2;position: absolute;width: 125px;height: 100%;top: 0;right: 0;padding:10px;}
.fg-price-wrapper h5{font-size:24px;font-weight:bold;color:#323232;margin-top:0;}
.fg-price-wrapper .license-type{font-size:12px;margin:5px 0;display:inline-block;}

.price-button{}
.price-button > .btn:first-child{background:#2ecc71;color:#fff; font-size:11px;border:0;-webkit-border-radius: 3px 0 0 3px;border-radius: 3px 0 0 3px;padding: 3px 6px;}
.price-button > .btn:last-child{background:#95a5a6;color:#fff; font-size:11px;border:0;-webkit-border-radius: 0 3px 3px 0;border-radius: 0 3px 3px 0;padding: 3px 6px;}

.fg-content-side .programmer-name{position: absolute;right: 140px;bottom: 5px;font-size: 11px;font-weight: 600;color: #828282;}

.app-content-information{background:#f8f7ee;-webkit-border-radius: 5px;border-radius: 5px;margin:10px;padding:5px 10px;}

.wizard-info{}
.info-icon{float:left;font-size:40px;color:#aaa789;}
.info-text{margin-left:50px;color:#828282;}
.info-text h4{font-size:18px;font-weight:bold;color:#aaa789;}






