

.file-manager-wrapper{}
.file-manager-header{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,255,255,1) 25%, rgba(250,250,250,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(255,255,255,1)), color-stop(100%,rgba(250,250,250,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(250,250,250,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(250,250,250,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(250,250,250,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,1) 25%,rgba(250,250,250,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
    border-bottom:1px solid #ebeef2;
    padding:10px 15px;
    position:relative;}
.file-manager-header p.fm-header-ps{margin:0;padding:0;color:#888;font-size:11px;}
    
.file-manager-sitemap{list-style-type:none;float:left;margin:0;}
.file-manager-sitemap li{float:left;color:#888;}
.file-manager-sitemap li a{padding:6px 12px;color:#888;}
.file-manager-sitemap li:first-child a{padding-left:0;}
.file-manager-sitemap li:last-child a{color:#444;font-weight:600;}
.file-manager-sitemap li:after{content:"»";display:inline-block;}
.file-manager-sitemap li:last-child:after{content:"";}

.fm-addmenu{display:none;}
.fm-adddirectory{display:none;}

.file-manager-table{width:100%;border-bottom:1px solid #ebeef2;}
.file-manager-table thead tr td{border:1px solid #ebeef2;font-size:12px;font-weight:bold;}
.file-manager-table thead tr td:first-child{border-left:none;}
.file-manager-table thead tr td:last-child{border-right:none;}

.file-manager-table > thead .sorting{background: url('images/sorting.png') no-repeat center right ;padding-right:25px;}
.file-manager-table > thead .sorting-asc{background: url('images/sorting-asc.png') no-repeat center right ;padding-right:25px;}
.file-manager-table > thead .sorting-desc{background: url('images/sorting-desc.png') no-repeat center right ;padding-right:25px;}
.file-manager-table > thead .sorting-disable{background: url('images/sorting-disable.png') no-repeat center right ;padding-right:25px;}

.file-manager-table tr td{padding:10px;color:#888;}
.file-manager-table-img{width:40px;height:40px;background:url("images/file.png") no-repeat;vertical-align:middle;display:inline-block;}



.file-manager-editing{color: #323232;width: 100%;height:100%;position: absolute;top: 50%;margin-top: -10px;left: 0;text-align: center;}
.file-manager-table tr td{position:relative;}
.file-manager-table tr td:first-child{border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;}
.file-manager-table tr td:first-child:hover{background:#f5f5f5;}