
.login-wrapper{height: 100%;background:url("images/cloud.jpg")bottom left no-repeat #10599f;}
.login-header{background:#fff;-webkit-box-shadow: 0 4px 9px 0 rgba(0,0,0,0.15);box-shadow: 0 4px 9px 0 rgba(0,0,0,0.15);}
.login-logo{}
.login-logo a{padding:20px 0;display:inline-block;}
.login-follow{text-align:right; padding-top: 20px;}
.login-follow p{font-size:14px; color:#444;}

.login-footer{background:#162236;position:fixed;bottom:0;width: 100%;z-index:999;}
.bottom-links{list-style-type: none;margin: 0;padding: 15px 0;float: left;}
.bottom-links li{float: left;}
.bottom-links li a:after{content:"-";display:inline-block;color:#fff;padding-left:6px;}
.bottom-links li:last-child a:after{content:"";}
.bottom-links li a{color:#fff;display:inline-block;padding: 6px 6px;float: left;font-size:11px;}
.login-copyright{text-align:right; padding-top: 18px;}
.login-copyright p{font-size:11px;color:#fff;}

.login-relative{position:relative;}
.login-panel{
    display:inline-block;
    background:#fff;
    padding:0 15px;
    width:350px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    top: 150px;
    -webkit-box-shadow: 0 0 9px 2px rgba(0,0,0,0.25);
    box-shadow:  0 0 9px 2px rgba(0,0,0,0.25);}
.login-panel h2{font-size:30px;font-weight:300;color:#444;}
.login-panel .form-control{width:100%;border: 1px solid #ccc;-webkit-border-radius: 4px;border-radius: 4px;}
.login-reminder{}
.login-reminder .pull-right a{color:#888;}
.login-panel-version{margin:10px -15px 0; padding:5px 15px;text-align:center;border-top:1px solid #ddd;}
.login-panel-version p{margin:0;font-size:11px;color:#888;}

.login-text{color:#fff;margin-top: 50px;width:60%}
.login-text h1{font-size:48px;font-weight:600;color:#fff;}
.login-text p{font-size:18px;font-weight:300;}


@media only screen and (max-width: 990px) {
    
    .login-panel{top: 200px;}
    
    }
    
@media only screen and (max-width: 640px) {
    
    .login-panel{width:100%;position:initial;margin-top:15px;}
    .login-text{width:100%}

    }
    
@media only screen and (max-width: 480px) {
    .login-relative{padding-bottom:100px;}
    }