
.management-wizard{border-bottom:1px solid #ddd;}

.wizard-nav{list-style-type:none;background:#5ccdde;border-top:5px solid #2e8491;}
.wizard-nav:after{content:"";display:table;clear:both;}
.wizard-nav li{float:left;}
.wizard-nav li a{margin-top:-5px; padding:10px 20px;background:#5ccdde;display:inline-block;font-size:18px;font-weight:600;color:White;border-top:5px solid #2e8491;border-right:3px solid rgba(255,255,255,0.15);}
.wizard-nav li.active a, .wizard-nav li:hover a{background:#56ebab;border-top:5px solid #1aa368;}
.wizard-nav li.disable:hover a{pointer-events: none;background:#f76f7c;border-top:5px solid #db3646;}
.wizard-nav li.disable{cursor: not-allowed;}

.wizard-nav-number{font-weight:400;margin-right:10px; border:3px solid #fff;border-radius: 50%;width:35px;height:35px;display:inline-block;font-size:28px;vertical-align: middle;text-align: center;color: #fff;line-height: 28px;}


.wizard-info{}
.info-icon{float:left;font-size:40px;color:#888;}
.info-icon.green{color:#7fba00;}
.info-text{margin-left:50px;color:#888;}
.info-text h4{font-size:18px;font-weight:bold;color:#6d6e6f;}
.info-text h4.green{color:#7fba00;}


.management-table-small{width:100%;}
.management-table-small thead tr td{color:#444;font-weight:600;border-bottom:2px solid #ebeef2;}
.management-table-small tr td{padding:10px;color:#888;}
.management-table-small tbody tr td{border-bottom:1px dashed #ebeef2;}
.management-table-small tbody tr:last-child td{border-bottom:2px solid #ebeef2;}

.table-overflow{overflow:auto;clear:both;}
.management-table-medium{width:100%;}
.management-table-medium input,.management-table-medium select{border:1px solid #ddd;}
.management-table-medium thead tr td{color:#444;font-weight:bold;padding:10px;border-right:1px solid #eaedef;}
.management-table-medium tr td{color:#888;border-top:1px solid #eaedef;border-right:1px solid #eaedef;}
.management-table-medium tr td:last-child{border-right:none;}
.management-table-medium tbody tr td{text-align:center;padding:5px 10px;}
.management-table-medium tbody tr:nth-child(even){background:#f9f9f9;}
.management-table-medium tbody tr.info{background:#d9edf7;}
.management-table-medium tbody tr.danger{background:#f2dede;}
.management-table-medium tbody tr.notice{background:#fcf8e3;}
.management-table-medium tfoot tr td{background:#fafbfc;padding:10px;}

.management-relations{}
.relations-info{list-style-type:none; }
.relations-info li{margin-bottom:10px;color:#888;}
.relations-info-number{font-weight:400;margin-right:10px;background:#7fba00; border-radius: 50%;width:20px;height:20px;display:inline-block;font-size:15px;vertical-align: middle;text-align: center;color: #fff;line-height: 20px;}



.management-content-created{}
.management-table-created{padding:10px 0;}
.management-table-item{margin-bottom: 10px;border:1px solid #eee;background:#fdfdfd;-webkit-border-radius: 3px;border-radius: 3px;height:40px;position:relative;}
.management-table-item > a{padding:10px;display:inline-block;font-weight:600;max-width: 75%;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.management-table-item-actions{ float: right;padding: 12px 12px 0 12px;height: 40px;margin-top: -1px;margin-right: 10px;font-size:14px;-webkit-box-shadow:inset 0 0 9px 0 rgba(0,0,0,0.1);box-shadow:inset 0 0 9px 0 rgba(0,0,0,0.1);}
.management-table-item-actions a{color:White;height:100%;display:inline-block;}

.table-color-info{list-style-type:none;float:left;margin: 20px 0 0;}
.table-color-info li{float:left;margin:0 5px;font-size:11px;color:#888;}
.table-color-info li span{display:inline-block;width:8px;height:8px;margin-right:5px}
.table-color-info li span.blue{background:#00bcf3;}
.table-color-info li span.purple{background:#9b59b6;}
.table-color-info li span.green{background:#1abb9b;}

.hidden-file{display:none;}


.management-table-item.blue{border-left:5px solid #00bcf3;}
.management-table-item.blue:before{position: absolute;top: 15px;left:0;display: inline-block;border-left: 5px solid #00bcf3;border-top: 5px solid transparent;border-bottom: 5px solid transparent;content: '';z-index: 1;}
.management-table-item.blue > a{color:#00bcf3;}
.management-table-item.blue > .management-table-item-actions{background: #00bcf3;}

.management-table-item.purple{border-left:5px solid #9b59b6;}
.management-table-item.purple:before{position: absolute;top: 15px;left:0;display: inline-block;border-left: 5px solid #9b59b6;border-top: 5px solid transparent;border-bottom: 5px solid transparent;content: '';z-index: 1;}
.management-table-item.purple > a{color:#9b59b6;}
.management-table-item.purple > .management-table-item-actions{background: #9b59b6;}

.management-table-item.green{border-left:5px solid #1abc9c;}
.management-table-item.green:before{position: absolute;top: 15px;left:0;display: inline-block;border-left: 5px solid #1abc9c;border-top: 5px solid transparent;border-bottom: 5px solid transparent;content: '';z-index: 1;}
.management-table-item.green > a{color:#1abc9c;}
.management-table-item.green > .management-table-item-actions{background: #1abc9c;}

.management-list-view{padding:15px;}
.management-list-view select.form-control{border:1px solid #e2e2e2;}
.management-list-view select.form-control option{border-radius: 5px;width: 24%;float: left;padding: 10px;border: 1px solid #e2e2e2;margin: 5px;background: #fafafa;border-left: 3px solid #ccc;}
.management-list-view select.form-control:focus{border-color:none;box-shadow:none;}
.management-list-view select.form-control option[selected="selected"]{border: 1px solid #eaeaea;border-left:3px solid #1e90ff;background:#f0f0f0;}
.management-list-view select.form-control option:hover{border: 1px solid #eaeaea;border-left:3px solid #1e90ff;background:#e2e2e2;}


@media only screen and (max-width: 768px) {
    
    .wizard-nav li{float:inherit;}
    .wizard-nav li a{width:100%;font-size:15px;border-top: 2px solid #2e8491;}
    .wizard-nav li.active a,.wizard-nav li:hover a{border-top:2px solid #1aa368;}
    .wizard-nav li.disable:hover a{border-top:2px solid #db3646;}
    }