
.news-source-wrapper{}
.news-source-header{padding:10px;border-bottom:3px solid #ebecee;}
.news-source-header textarea{resize: none;}
.ns-header-actions{position:relative;}
.ns-header-actions{background:#f9fafc;border:1px solid #eee;margin-top:-1px;}
.ns-header-actions:after{content:"";display:table;clear:both;}
.actions-left{float:left;}
.actions-left a{color:#888;padding:10px;display:inline-block;}
.actions-left a:hover{background:#f0f3f6;}
.actions-right{float:right;}
.actions-right > .btn{padding: 3px 6px;font-size: 12px;margin:4px 10px;}
.news-source-privacy{display:inline-block;border-left:1px solid #eee;border-right:1px solid #eee;float: left;}
.news-source-privacy > a{color:#888;display: inline-block;padding: 7px 12px 8px;}
.news-source-privacy > a:hover{background:#f0f3f6;}

.news-source-content{position:relative;}
.ns-content-item{padding-top: 10px;border-bottom:1px dashed #f5f6f8;}
.ns-content-img, .comment-img{
    width: 35px;
    height: 35px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid rgba(0,0,0,0.15);
    position: absolute;
    right: auto;
    left: 15px;}
.ns-content-container{margin-left:60px;position:relative;}
.ns-content-user{}
.ns-content-user a.user-warning{color:#436182;}
.ns-content-user a{color:#444;font-weight:600;font-size:12px;}
.ns-content-date{font-size:10px;}
.ns-content-text{padding:5px 0;}
.ns-content-text p{font-size:11px;font-weight:300;margin:0;padding-right:10px;text-align:justify;}
.ns-content-text p a.shorting-show{font-weight:600;color:#436182;}
.ns-content-actions{padding:5px;}
.ns-content-actions:after{content:"";display:table;clear:both;}
.ns-content-actions ul{list-style-type:none;margin:0;}
.ns-content-actions ul li{float:left;}
.ns-content-actions ul li a{color:#888;font-weight:600;padding:6px 12px 6px 0;font-size:11px;}
.ns-content-actions ul li a i.fa-fw{text-align:left;}
.ns-content-edit{position: absolute;right: 10px;top: 0;}
.ns-content-edit a{color:#888;}
.ns-content-attachment{background:#f9fafc;border:1px solid #dae0e8;padding:3px 6px;display:inline-block;}
.ns-content-attachment a{color:#436182;font-weight:600;font-size:11px;}
.ns-content-pic{display:inline-block;margin:0;}

.ns-content-comment{position:relative;background:#f9fafc;border-top:1px solid #dae0e8;clear:both;padding-top: 10px;}
.ns-content-comment:before{content:"Yorumlar";display:inline-block;background:#fff;padding:3px 6px;border:1px solid #dae0e8;position: absolute;right: 15px;top: -11.5px;font-size: 11px;color: #888;}
.comment-item{padding:5px 0;}
.comment-item .comment-img{left: 40px;}
.comment-container{margin-left:85px;}


.toggle-privacy{}
.toggle-privacy li{border-bottom:1px dashed #eee;}
.toggle-privacy li a{color:#888;padding: 8px 10px 0!important;width:100%;height:100%;display:inline-block;}
.toggle-privacy li p{font-weight:300;font-size:10px;color:#888;padding:0 5px 5px 30px;margin:0;}
.toggle-privacy-btn{padding:5px;display:none;}

.paging-text{width: 100%;text-align: center;border-top: 1px solid #dae0e8;background: #f4f6f8;}
.paging-text a{padding: 8px;display:block;font-weight:600;color:#436182;}
.paging-comment-text{padding: 5px 0 5px 40px;}
.paging-comment-text a{color:#444;font-weight:600;}