
.portal-compare-wiz{background:#ecf0f1;}
.portal-compare-wiz .tab-pane{margin-left:25%;background:#fff;}
.portal-compare-wiz .tab-pane:before{content:"";display:table;}
.portal-compare-wiz .tab-pane:after{content:"";display:table;clear:both;}

.portal-wiz-tab{width:25%;float:left;border:0;}
.portal-wiz-tab li{float:initial;margin:0;}
.portal-wiz-tab li a{font-size:14px;font-weight:600;color:#323232;padding: 14px 15px;margin:0;border:0;}
.portal-wiz-tab li a:hover{background:none;border:0;margin:0;}
.portal-wiz-tab li.disable a{color:#bdc3c7;}
.portal-wiz-tab li.disable:hover a{pointer-events: none;color:#828282;}
.portal-wiz-tab li.disable{cursor: not-allowed;}
.portal-wiz-tab li.active a{background:#e67e22;margin:0;border:0;border-radius:0;color:#fff;}
.portal-wiz-tab li.active a:hover,.portal-wiz-tab li.active a:focus{border:0;background:#e67e22;color:#fff;}
.portal-wiz-tab li.active a:before{
    position: absolute;
    top: 0;
    right: -10px;
    display: inline-block;
    border-top: 25px solid transparent;
    border-left: 10px solid #e67e22;
    border-bottom: 22px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.2);
    content: '';}

.portal-wiz-actions{padding:15px;border-top:1px solid #e2e2e2;}

.portal-wiz-content{padding:15px 15px 15px 30px;}
.portal-wiz-content input[type="text"], .portal-wiz-content input[type="password"],.portal-wiz-content input[type="email"]{
    display: block;
    width: 80%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border: 1px solid #ccc;
    border-radius: 3px;}

.portal-wiz-content select, .portal-wiz-content textarea{border: 1px solid #ccc;}

.portal-wiz-content .checkbox, .portal-wiz-content .radio{color:#828282;}

.portal-wiz-content .help-block{width:80%;color:#cccccc;}
.portal-wiz-content .form-group:after{content:"";display:table;}

.wizard-info{}
.info-icon{float:left;font-size:40px;color:#888;}
.info-icon.green{color:#7fba00;}
.info-icon.red{color:#c0392b;}
.info-text{margin-left:50px;color:#888;}
.info-text h4{font-size:18px;font-weight:bold;color:#6d6e6f;}
.info-text h4.green{color:#7fba00;}
.info-text h4.red{color:#c0392b;}


.portal-wiz-header{background:#f5fafb;padding:10px 10px 10px 30px;margin-top:10px;}
.portal-wiz-header h4{margin:0;font-size:14px;color:#323232;font-weight:600;}

.portal-wiz-impression{background:#f8f8f8;padding:15px;}
.portal-wiz-impression p{font-weight:600;}
.portal-wiz-impression .success{color:#7fba00;}
.portal-wiz-impression .processing{color:#323232;}
.portal-wiz-impression .failed{color:#e74c3c;}
.portal-wiz-impression .queued{color:#828282;padding-left: 15px;}