

.task-wrapper{}

.task-header{padding:5px 15px;border-bottom:1px solid #e2e2e2;}
.task-header h6{font-size:14px;font-weight:600;margin:0;color:#444;}

.task-analysis{}
.task-completion-time{background:#fcf8e3;padding:5px 15px;border-bottom:1px solid #e2e2e2;}
.completion-icon{float:left;font-size:5em;color:#e5dcc1;}
.task-completion-time h5{line-height: 40px;margin-left: 75px;font-size:20px;color:#8a6d3b;}
.task-completion-time h5 strong{font-size:24px;color:#8a6d3b;}

.task-description{background:#fdfdfd;padding: 10px;}
.task-desc-info{list-style-type:none;margin:0;}
.task-desc-info li a{font-weight:600;color:#444;font-size:13px;padding:6px 12px;display:inline-block;}
.task-desc-info li h5{font-weight:600;color:#444;font-size:13px;}
.task-desc-info li h5 span{font-weight:normal;color:#888;margin-top:5px;}
.task-analysis-line{background:#eee;height:10px;text-align:center;}
.task-analysis-line a{font-size: 2em;color: #888;margin-top: -8px;position: relative;display: inline-block;}

.task-create{padding:15px;}

.wizard-info{margin-bottom:20px}
.wizard-info:after{content:"";display:table;clear:both;}
.info-icon{float:left;font-size:40px;color:#888;}
.info-icon.green{color:#7fba00;}
.info-text{margin-left:50px;color:#888;}
.info-text h4{font-size:18px;font-weight:bold;color:#6d6e6f;}
.info-text h4.green{color:#7fba00;}

.info-box{padding:25px 15px 10px;border:1px solid #e2e2e2;position:relative;margin-bottom:20px;}
.info-box-header{position: absolute;top: -20px;left: 10px;background: #fff;color: #888;}

.task-list{}
.task-list .task-list-header{background:#536b85;margin:0;border-bottom:1px solid #4d637a; }
.task-list .task-list-header a{font-size:14px;color:#fff;font-weight:600;padding:10px 15px; display:block;}

.task-list-edit{background:#fafafa;padding:10px 15px;}
.task-list-edit .form-group {margin: 0 15px;}
.task-list-edit .form-group label {margin-right: 10px;}

.collapse-table{margin:0;}
.collapse-table thead tr th{background:#4d637a;color:#fff;border-bottom:0;font-size:11px;padding:5px 8px;}
.collapse-table tbody tr td{vertical-align:middle;font-size:12px;}
.collapse-table tbody tr td .checkbox{margin:5px 0 ;}

.task-graph-wrapper{}
.task-graph-header{background:#fcf8e3;padding:10px 15px;border-bottom:1px solid #e2e2e2;}
.task-graph-list{width: 30%;float:left;border-right: 1px solid #e2e2e2;}
.tgl-head{padding:8px 10px;color:#888;margin:0;border-bottom:1px solid #e2e2e2;}
.tgl-header{background:#fafafa;margin:0;border-bottom:1px solid #e2e2e2;}
.tgl-header a{padding:8px 10px;display:block;font-size:12px;font-weight:600;color:#444;}

.task-graph-body{}
.task-graph-list-items{list-style-type:none;margin:0;}
.task-graph-list-items li{}
.task-graph-list-items li a{padding:10px 15px;display:block;color:#888;border-bottom:1px solid #e2e2e2;}


.task-graph-map{width:70%;float:left;position:relative;overflow: auto;border-left: 1px solid #e2e2e2;margin-left: -1px;}
.date-holder{}

.task-date-table{width: 1220px;}
.task-date-table thead tr th{padding:5px;border-bottom:1px solid #e2e2e2;border-right:1px solid #e2e2e2;background: #fff;position: relative;z-index: 1;}
.task-date-table tbody tr td{}
.task-date-table tbody tr td.date-cell{width:20px;height:30px;vertical-align:middle;font-size:11px;text-align:center;border-bottom:1px solid #e2e2e2;border-right:1px solid #e2e2e2;}
.task-date-table tbody tr td.date-cell.today{font-weight:bold;}
.task-date-table tbody tr.date-line{position: absolute;height: 100%;width: 1220px;display: flex;margin-top: -59px;padding-top: 59px;}
.task-date-table tbody tr.date-line td{width:20px;height:100%;border-right:1px solid #eeeeee;}
.task-date-table tbody tr.date-line td.today{background:#fcf8e3;}

.task-graph-item{margin-bottom: 32px;}
.task-graph-bar{height: 38px;position: relative;}
.bar-limit{background:#e8f3cf;height:15px;}
.bar-percent{background:#7fba00;height:15px;display:block;}

.task-graph-pop{width: 250px;}

