

.workflow-list-wrapper{}

.workflow-tab{padding:15px 0;}
.workflow-tab .nav.nav-tabs{border-bottom: 3px solid #436182;}
.workflow-tab .nav.nav-tabs li{margin-bottom:0;}
.workflow-tab .nav.nav-tabs li a{background:#ced6e0;color:#323232;border-radius:0;font-weight:600;margin-right:4px;}
.workflow-tab .nav.nav-tabs li:first-child a{margin-left:10px;}
.workflow-tab .nav.nav-tabs li.active a{background:#436182;color:White;}


.workflow-table{margin:0;}
.workflow-table thead tr th{font-weight:600;font-size:0.846em;}
.workflow-table tbody tr td{vertical-align:middle;border-bottom:1px solid #e2e2e2;border-right:1px solid #e2e2e2;}
.workflow-table tbody tr td:last-child {border-right:0;}
.workflow-table tbody tr td.observer{background:#fafafa;}

.workflow-table .workflow-type{color:#00bcf3;font-weight:600;}
.workflow-table .workflow-type span{display:block;font-size:0.813em;color:#828282;margin-top:5px;font-weight:300;}
.workflow-table .workflow-name{font-size:0.875em;}
.workflow-table .workflow-date{font-size:0.875em;font-weight:600;color:#323232;}
.workflow-table .workflow-date span{display:block;font-size:0.786em;}
.workflow-table .workflow-status{color:#7fce5c;font-size: 40px;}

.workflow-buttons .wf-btn{-webkit-border-radius: 5px;border-radius: 5px;border:1px solid #e2e2e2;padding:6px 8px;margin:0 4px;
                          
background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */}


.workflow_detail{}
.wf-header{background:#436182;padding:15px 10px;position:relative;}
.wf-header:before{
    position: absolute;
    bottom: -10px;
    left: 50px;
    display: inline-block;
    border-right: 10px solid transparent;
    border-top: 10px solid #436182;
    border-left: 10px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';}
.wf-header h5{margin:0;color:White;font-weight:600;font-size:1em;}

.workflow-table .wf-detail-name{font-weight:600;color:#323232;}
.workflow-table .wf-detail-old a{font-size:1em;}
.workflow-table .wf-detail-new{font-size:1em;}
.workflow-table .wf-detail-actions a{font-size:30px;color:#828282;}


.wf-quickly-confirmed{text-align:left;}
.wf-quickly-header{background:#e8e8e8;padding:10px;}
.wf-quickly-header h5{margin:0;}
.wf-quickly-content{padding:10px;background:#fafafa;}
.wf-quickly-content textarea{width:100%;border:1px solid #e2e2e2;}

.wf-quickly-wrapper{margin-top:10px; width:400px;border:0; border:1px solid #e2e2e2;-webkit-border-radius: 5px;border-radius: 5px;}

.wf-quickly-content-actions{}
.wf-quickly-content-actions .btn-warning{background:#e8db0a;border:0;color:#fff;} 
.wf-quickly-content-actions .btn-warning:hover{background:#b2ad24;} 

.wf-quickly-content-actions .btn-danger{background:#ce675c;border:0;color:#fff;}
.wf-quickly-content-actions .btn-danger:hover{background:#9f4339;}

.wf-quickly-content-actions .btn-success{background:#7fce5c;border:0;color:#fff;} 

.wizard-info{}
.info-icon{float:left;font-size:40px;color:#888;}
.info-icon.green{color:#7fba00;}
.info-text{margin-left:50px;color:#888;}
.info-text h4{font-size:18px;font-weight:bold;color:#6d6e6f;}
.info-text h4.green{color:#7fba00;}




