
/****************************
            Fonts 
*****************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin,latin-ext);

/* Global Font */
body{font-family:'Open Sans', sans-serif;font-size:1.333em;}
html,body{height:100%;}
/* Heading */
h1,h2,h3,h4,h5,h6,.nivo-caption .slide-head,.services .nav-tabs>li>a,.lead{ font-family: 'Open Sans', sans-serif; }

/****************************
         Generic Classes 
*****************************/
.fl { float:left }
.fr {float:right }
.inner5 { padding:5px }
.inner10 { padding:10px }
.inner15 { padding:15px }
.inner20{ padding:20px }
.inner25 { padding:25px }
.inner30 { padding:30px }
.mr10 { margin-right:10px}
.mb10 { margin-bottom:10px }
.mb15 { margin-bottom:15px }
.mb20 { margin-bottom:20px }
.mb30 { margin-bottom:30px }
.mb40 { margin-bottom:40px }
.mb50 { margin-bottom:50px }
.mb60 { margin-bottom:60px !important}
.inner5:after,.inner10:after,.inner15:after,.inner20:after,.inner25:after,.inner30:after { content:'';display:table;clear:both }
::selection { background:#555;color:#fff }
*:focus { outline:none; }
a,a:link,a:visited {text-decoration:none;}
a:hover { /* font-weight: 600; */}

/* Transitions */

ul,ol { list-style-position:inside; }
h1,h2,h3,h4,h5,h6 { font-weight: 400;color:#939498;}
h1{ font-size:3.5em }
h2{ font-size:3em}
h3{ font-size:2.5em }
h4{ font-size:1.8em }
h5{ font-size:1.1em } 
h6{ font-size:0.8em }
img { display:block;border:0 }
strong { font-weight:700;color: #555;}



/****************************
         
*****************************/
.toggle-theme {list-style-type:none;position:relative;display:inline-block;}
.toggle-theme ul li a{padding: 8px 10px;display:inline-block;color:#555;font-size:0.917em;}
.toggle-theme ul li:hover a{color:#0c9fd3;font-weight:600;}
.toggle-theme-brackets{border-bottom: 1px dashed #eaedef;}
.toggle-theme-icons{float: left;border-right: 1px solid #eaedef;padding: 10px;width: 38px;height: 33px;}


.toggle-theme ul{
    min-width: 200px;
    background: #fff;
    border: 1px solid #eaedef;
    border-bottom: 2px solid #6bb8de;
    list-style-type: none;
    display:none;
    z-index:900;
    position: absolute;}
.toggle-theme ul.ttl:before{
    position: absolute;
    top: -7px;
    left: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';}
.toggle-theme ul.ttl:after{
    position: absolute;
    top: -6px;
    left: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';}
.toggle-theme ul.ttr:before{
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';}
.toggle-theme ul.ttr:after{
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    content: '';}
    
    
.wizard-actions{padding:5px 10px;text-align:right;}

.wizard-button-success{background:#7fba00;border:1px solid #6c9710;color:#fff; -webkit-border-radius: 3px;border-radius: 3px;}
.wizard-button-success:hover{background:#6c9710;color:#fff;}

/*Zones//////////////////////////////*/

.zones-area-fixed{position:fixed;top:0;width:100%;z-index:1000;}

.zones-area-wrapper{padding-top: 74px;}
.zones-area-header{border-bottom:1px solid #ebeef2;background:#00bcf3;}
.zones-area-header h5{display:inline-block;color:#fff;font-weight:600;margin:12px 0;}
.zones-area-header-actions{float:right;}
.zones-area-header-actions > ul{list-style-type:none;}
.zones-area-header-actions > ul > li{float:left;}
.zones-area-header-actions > ul > li > a{padding: 12px 6px;display: inline-block;color: #fff;}

.zones-area-sitemap-wrapper{background:#f2f4f8;border-bottom:1px solid #ebeef2;}
ul.zones-area-sitemap {list-style-type: none;margin: 6px 0;display: inline-block;}
ul.zones-area-sitemap  li{float:left;}
ul.zones-area-sitemap  li a{text-decoration:none;color:#939498;padding:0 5px;font-size:11px;}
ul.zones-area-sitemap  li:after{content:"-"; margin:0 3px;}
ul.zones-area-sitemap  li a:hover{color:#bf3737;}
ul.zones-area-sitemap  li:last-child{font-weight:600;}
ul.zones-area-sitemap  li:last-child:after{content:"";}

.zones-area-control{border-bottom:1px solid #ebeef2;}
.zac-applications{width: 100%;height: 200px;overflow: auto;float:left;border-right:1px solid #ebeef2;}
.zac-applications h5, .zac-parts h5{color: #555;font-size: 14px;}
.zac-applications-list{list-style-type:none;float:left;margin:0;width:100%;padding-right: 10px;}
.zac-applications-list li a{font-size: 12px;color: #888;font-weight:600; width: 100%;height: 100%;display: inline-block;padding: 10px 0 10px 10px;border-bottom: 1px dashed #eee;}
.zac-applications-list li a:hover, .zac-applications-list li.selected a{background:#fafafa;}
.zac-applications-list li a img{margin: 0 10px 0 0;vertical-align: middle;display: inline-block;}

.zac-parts{width: 100%;height: 200px;overflow: auto;float:left;padding-right:10px;margin-left:-15px; border-right:1px solid #ebeef2;}
.zac-parts-list{list-style-type:none;float:left;margin:0;width:100%;min-height:20px;}
.zac-parts-list li{}
.zac-parts-list li a{}
.zac-parts-list > li > .zones-part > .zones-part-actions{display:none;}
.zac-holder{display:none;}
.zac-parts-empty{text-align: center;font-size: 16px;color: #ccc;margin-top: 60px;}



.zones-part{width:100%;margin-bottom:10px;-webkit-border-radius: 3px;border-radius: 3px;border:1px solid #eee;position:relative;}
.zones-part a{padding:5px 10px;display:inline-block;color:#444;font-weight:600;}
.zones-part-actions{float:right; margin-top:4px;}
.zones-part.part{background:#ffffcb;border:1px solid #eee;}
.zones-part.virtualpage{background:#edf9ff;border:1px solid #eee;}
.zones-part.basepage{background:#f1fcdb;border:1px solid #eee;}

.zones-area-info{position:relative;margin-left:-15px;}

.zones-area-footer{padding:10px 0;border-bottom:1px solid #ebeef2;background:#f2f4f8;}
.zones-area-footer p{display:inline-block;margin:0;font-size:11px;color:#888;}
.zones-area-footer ul{list-style-type:none;float:right;margin:0;}
.zones-area-footer ul li{float:left;margin:0 5px;font-size:11px;color:#888;}
.zones-area-footer ul li span{display:inline-block;width:8px;height:8px;margin-right:5px}
.zones-area-footer ul li span.basepage{background:#19a100;}
.zones-area-footer ul li span.virtualpage{background:#193d88;}
.zones-area-footer ul li span.thispage{background:#cf9b00;}

.zones-area{padding-top:40px;}
.zones-area-item{width: 100%;height:215px;margin-bottom:25px; float:left; background:#fff;-webkit-box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.15);box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.15);}
.zai-header{border-bottom:1px solid #233448;margin:-1px;padding:0 8px; position:relative;}
.zai-header h5{font-size:12px;font-weight:bold;color:#fff;display:inline-block;}
.zai-header-actions{float:right;padding: 10px;}
.zai-header-actions a{color:#fff;}

.zai-content{padding:10px;overflow: auto;height: 183px;}
.zai-content-list{list-style-type:none;min-height:20px;}

.zones-area-template{border-bottom: 5px solid #eee;position: absolute;background: #fff;width: 100%;z-index: 999;background:#fdfdfd;display:none;}
.zones-area-template-edit{padding:10px;}



.general-header-two{
    background: rgb(110,128,145); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(110,128,145,1) 0%, rgba(79,96,114,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(110,128,145,1)), color-stop(100%,rgba(79,96,114,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(110,128,145,1) 0%,rgba(79,96,114,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(110,128,145,1) 0%,rgba(79,96,114,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(110,128,145,1) 0%,rgba(79,96,114,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(110,128,145,1) 0%,rgba(79,96,114,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e8091', endColorstr='#4f6072',GradientType=0 ); /* IE6-9 */}
    
    
.page-info{padding:5px 10px;margin:10px 0;}
.page-info-icon{float:left;font-size:30px;color:#888;}
.page-info-text{margin-left:40px;color:#888;}
.page-info-text h4{font-size:18px;font-weight:bold;color:#888;margin:5px 0;}
.page-info-text p{font-size:11px;}

.zones-part-icon{display:inline-block;vertical-align: middle;margin: 0;}
.zones-part-icon:after{content:"";display:inline-block; width: 22px;height: 22px;}
.zones-part-icon.box:after{background: url("images/box.png") no-repeat;margin-right: 10px;}
.zones-part-icon.hatched-box:after{background: url("images/hatched-box.png") no-repeat;margin-right: 10px;}
.zones-part-icon.hatched-world:after{background: url("images/hatched-world.png") no-repeat;margin-right: 10px;}

.ui-state-highlight { height: 35px; border:1px dashed #ccc; z-index:999;background:#fff; margin:5px 0; }


@media (max-width: 992px){
    
    .zac-parts{margin-left:0;}
    }
    
@media (max-width: 560px){
    
    .zones-area-footer ul {float: inherit;}
    .zones-area-header-actions {float: left;}
    }