.rules-container.rules {
    width: 100%;
    height: calc(100vh - 83px);
    background-color: #EEEEEE;
}

.rules-container-content {
    width: 60%;
    margin: 70px auto 20px auto;
    display: flex;
    flex-direction: column;
}

.rules-container-content h1 {
    text-align: center;
    max-width: 640px;
    margin: 0 auto 30px auto;
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.2px;
}

.rules-container-content .container-right-top {
    margin: 0;
    height: 55vh;
}

.rules-container-content .rules-content {
    margin: 0;
    max-width: 90%;
}

.rules-container.rules .container-right-bottom {
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.rules-container.rules .container-right-bottom .contact {
    width: auto;
    bottom: 0;
}


@media screen and (max-width: 768px) {
    .rules-container-content {
        width: 90%;
    }

    .rules-container-content h1 {
        font-size: 18px;
    }

    .rules-content>h3,
    .rules-content>p {
        font-size: 12px;
    }
}