/* Dashboard Navbar */
header.dashboard-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 69px;
    padding: 0 20px;
    background: linear-gradient(180deg, #F6F8FC 0%, #EDF1F8 100%);
}

header .search-content img {
    transform: rotate(90deg);
    width: 16px;
}

/*=============Dashboard Navbar Logo Content================  */
.dashboard-navbar-logo {
    display: flex;
    gap: 30px;
    padding-right: 20px;
    border-right: 1px solid #D2D2D2;
}

/*! ========== Dashboard Navbar Lists Container ============== */
.dashboard-navbar-lists {
    background: #D6EDFE;
    display: flex;
    align-items: center;
    position: relative;
    height: 68px;
}

.navbar-icon {
    position: absolute;
    height: 100%;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 15px;
    display: flex;
    align-items: center;
    transition: all 0.4s ease-in-out;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    z-index: 100;
}

.navbar-icon.hide {
    display: none;
}

.navbar-icon:first-child {
    left: 0;
    background: linear-gradient(to left, #D6EDFE 100%, transparent);
}

.navbar-icon:last-child {
    right: 13%;
    justify-content: flex-end;
    background: linear-gradient(to right, #D6EDFE 100%, transparent);
}

.navbar-icon>img {
    height: 3rem;
    width: 3rem;
    text-align: center;
    display: inline-block;
    border-radius: 50%;
    padding: 13px;
    transition: all 0.2s ease-in-out;
}

.navbar-icon>img:hover {
    background-color: #B0DEFF;
}

.dashboard-navbar-lists .dashboard-nav-left {
    transform: rotate(180deg);
}


/** Dropdown Lists Container ==> ul  */
.dashboard-dropdown-lists {
    display: flex;
    width: 87%;
    box-shadow: 0px 0px 40px rgba(141, 199, 241, 0.49);
    overflow-x: auto;
    scroll-behavior: smooth;
    margin: 0 auto;
    padding: 0 30px;
}

.dashboard-dropdown-lists::-webkit-scrollbar {
    display: none;
}

/** Dropdown List Item ==> li  */
.dashboard-dropdown-lists .dropdown-list-item {
    padding: 20px;
    width: max-content;
}

.dashboard-dropdown-lists .dropdown-list-item:hover {
    background-color: #B0DEFF;
    cursor: pointer;
}

/** Dropdown List Item Content ==> li > div */
.dropdown-list-item .list-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 28px;
    white-space: nowrap;
}

/** List Content into icon  */
.list-content>img {
    transform: rotate(-90deg);
    transition: all 0.4s ease-in-out;
    font-size: 16px;
}

.dropdown-list-item:hover .list-content>img {
    transform: rotate(0);
}

/*! Dropdown hidden lists  */
.dropdown-list-item:hover .dropdown-hidden-lists {
    visibility: visible;
    opacity: 0.9;
    pointer-events: initial;
}

.dropdown-hidden-lists {
    top: 68px;
    left: 0;
    width: 252px;
    position: absolute;
    pointer-events: none;
    z-index: 200;
    visibility: hidden;
    opacity: 0;
    background: linear-gradient(180deg, #B1DFFF 0%, rgba(158, 215, 255, 0.86) 100%);
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(2px);
}

.hidden-list-item {
    position: relative;
    padding: 10px 20px 10px 40px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.hidden-list-item div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hidden-list-item div img.icon-plus {
    transition: all 0.4s ease-in-out;
}

.hidden-list-item.hidden-list-active div img.icon-plus {
    transform: rotate(135deg);
}

.hidden-list-item:hover {
    background-color: dodgerblue;
}

.hidden-list-item:not(:first-child) {
    border-top: 1px solid #FFFFFF;
}

/*! Nested Hidden List Items  */
/* dropdown-nested-hidden-list */
.dropdown-nested-hidden-list {
    position: absolute;
    pointer-events: none;
    width: 100%;
    left: 0;
    top: 45px;
}

/* Nested Hidden List Active oldukda */
/** nested hidden list item  */
.nested-hidden-list-item {
    padding: 12px 20px 11px 65px;
    border-top: 1px solid #ffffff;
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    transition-delay: calc(var(--i) * 0.1s);
    background-color: #B0DEFF;
}

.nested-hidden-list-item:hover {
    background-color: dodgerblue;
}

.hidden-list-item.hidden-list-active .nested-hidden-list-item {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

/* ===================Navbar Search Content=====================*/
.navbar-search {
    width: 13%;
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 0 15px;
    box-shadow: 0px 0px 40px rgba(141, 199, 241, 0.49);
    height: 100%;
}

.navbar-search img {
    width: 18px;
    height: 18px;
    opacity: 0.5;
}

.navbar-search input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #8C8C8C;
    font-weight: 600;
    line-height: 24px;
    width: 100%;
}

/*! Dashboard Header InfoBox Container  */
.info-box {
    width: 80%;
    background: #f9feff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 15px 15px;
    border-top: 3px solid #c3f5ff;
    padding: 7px 30px;
    margin: 0 auto 30px auto;
}

.info-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
}

.info-box-header>div {
    display: flex;
    align-items: center;
}

.info-box-header>div>img {
    margin-right: 10px;
}

.info-box-header>div>span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #5e5e5e;
}

.info-box-header>img {
    transform: rotate(180deg);
    transition: all ease-in-out 0.5s;
}

.info-box-body {
    background: #f9feff;
    border-top: 1px solid #e2e2e2;
    padding: 20px 70px;
    margin: 0px -30px;
    display: none;
}

.dropdown-box-active~.info-box-body {
    animation: dropDownBox 0.5s ease-in-out;
    display: block;
}

@keyframes dropDownBox {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.info-box-content {
    margin-top: 50px;
}

/*!================ App System Container ========================  */

.app-system-container {
    width: 80%;
    margin: 0 auto;
}

/* systme container title ==> ul  */
.system-container-tabs {
    background: #F2F5FA;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0px 0px;
    height: 77px;
    overflow: hidden;
}

/*! Tabs into all boxs  */
.system-container-tab-boxs {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    background-color: transparent;
}

.tab-box-list {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #DFDFDF;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
}

.tab-box-list:hover {
    background: #D7E1F2;
}

.tab-box-list.tab-box-active {
    background: #D7E1F2;
}

.tab-box-list a {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    color: #1A1A1A;
    text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.13);
}

/*! ============= Content Boxs Lists ============= */
.system-container-content-boxs {
    height: 56px;
    background: #D7E1F2;
    border: 1px solid #D1D1D1;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
    border-radius: 0px 0px 10px 10px;
}

.system-container-content-boxs .content-lists {
    width: 100%;
    height: 100%;
    display: none;
    animation: moving 0.5s ease-in-out;
}

@keyframes moving {
    from {
        transform: translateY(50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

.content-lists.tab-content-active {
    display: flex;
    align-items: center;
}

.content-lists li {
    padding: 16px 30px;
    border-right: 1px solid #F2F5FA;
}

.content-lists li a {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #1A1A1A;
    text-shadow: 0px 4px 40px rgba(0, 0, 0, 0.13);
}

@media screen and (max-width: 992px) {
    .app-system-container {
        width: 90%;
    }

    .dashboard-dropdown-lists {
        width: 80%;
    }

    .navbar-search {
        width: 20%;
    }

    .navbar-icon:last-child {
        right: 20%;
    }
}

@media screen and (max-width: 768px) {

    header.dashboard-navbar {
        padding: 0 10px;
    }

    .dashboard-navbar-logo {
        gap: 15px;
    }

    .dashboard-dropdown-lists .dropdown-list-item {
        padding: 10px 25px;
    }

    .dropdown-hidden-lists {
        top: 48px
    }

    .dashboard-navbar-lists {
        height: 48px;
    }

    .navbar-icon>img {
        height: 2rem;
        width: 2rem;
        padding: 7px;
    }

    .dashboard-dropdown-lists {
        width: 70%;
    }

    .navbar-search {
        width: 30%;
    }

    .navbar-icon:last-child {
        right: 30%;
    }

    .app-system-container,
    .info-box,
    .system-container-tab-boxs,
    .system-container-content-boxs {
        width: 100%;
    }

    .system-container-tabs {
        height: 60px;
    }

    .tab-box-list a,
    .content-lists li a {
        font-size: 12px;
    }

}

@media screen and (max-width: 576px) {
    .content-lists li {
        padding: 16px 20px !important;
    }

    .dashboard-dropdown-lists {
        width: 60%;
    }

    .navbar-search {
        width: 40%;
    }

    .navbar-icon:last-child {
        right: 40%;
    }
}