/*! Form gorup-> input,label */
.form-group {
    position: relative;
}

.form-group>input {
    width: 315px;
    height: 50px;
    background: #EAEAEA;
    border: 1px solid #bebebe;
    border-radius: 100px;
    padding: 13px 20px;
    outline: none;
    margin-bottom: 20px;
}

.form-group>input:focus {
    border: 1px solid #5fa5d8;
}

.form-group>label {
    position: absolute;
    z-index: 10;
    font-weight: 500;
    font-size: 12px;
    top: -8px;
    left: 20px;
    background: #EAEAEA;
}

.form-group>img {
    position: absolute;
    z-index: 10;
    top: 13px;
    right: 20px;
    cursor: pointer;
    width: 24px;
    height: 24px;
}

/* Form Dropdown Menu */
.form-dropdown-menu {
    position: relative;
}

.form-dropdown-menu .menu-select {
    width: 315px;
    height: 50px;
    background: #EAEAEA;
    border: 1px solid #bebebe;
    border-radius: 100px;
    padding: 13px 20px;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.form-dropdown-menu .menu-select img {
    width: 24px;
    height: 24px;
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
}

.form-dropdown-menu .menu-options {
    position: absolute;
    left: 0;
    width: 100%;
    background: #EAEAEA;
    border: 1px solid #bebebe;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
    transition: all 0.2s ease-in-out;
}

.form-dropdown-menu .menu-options .menu-option-content {
    padding: 10px 20px;
    border-bottom: 1px solid #bebebe;
}

.form-dropdown-menu .menu-options .menu-option-content:last-child {
    border-bottom: none;
}

.form-dropdown-menu .menu-options .menu-option-content:hover {
    background: #bebebe;
    cursor: pointer;
}

.form-dropdown-menu .dropdown-menu-open {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.form-dropdown-menu .dropdown-menu-open~.menu-options {
    visibility: visible;
    opacity: 1;
}

.form-dropdown-menu .dropdown-menu-open img {
    transform: rotate(180deg);
}

/*! form-actions */
.form-actions {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.form-actions>input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: transparent;
}

.form-actions> :where(a, label) {
    color: #5fa5d8;
    cursor: pointer;
}

.form-actions>a:nth-child(2) {
    margin-right: 30px;
}

/*! Buttons */
.login-form-social-media {
    display: flex;
    gap: 20px;
    margin-bottom: 24px;
}

.btn-login {
    background: #5fa5d8;
    box-shadow: 0px 4px 20px #5fa5d8;
    border-radius: 100px;
    padding: 20px 130px;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 20px;
    color: white;
    margin-top: 40px;
    margin-bottom: 30px;
}

.btn-login:hover {
    background: #4b8ac9;
}

.btn-login:focus {
    background: #4c8ec7;
    box-shadow: 0px 4px 20px #4c8ec7;
}

.btn-goggle,
.btn-facebook {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    width: 150px;
    height: 40px;
    border-radius: 50px;
    border: none;
    outline: none;
}

.btn-goggle {
    color: #000000;
    font-weight: 600;
    font-size: 13px;
    background: #F5F5F5;
    border: 0.87px solid #C6C6C6;
}

.btn-goggle:hover {
    background: #e5e5e5;
}

.btn-facebook {
    background: #1877F2;
    color: #FFFFFF;
}

.btn-facebook:hover {
    background: #3a66b7;
}

/*! form-create-account */
.form-create-account>p {
    color: #9FA8BC;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.02em;
}

.form-create-account>p>a {
    color: #246BFD !important;
}

/*! Additional css */
.login-content-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn-purple {
    background: #441E61;
    box-shadow: 0px 4px 20px rgba(68, 30, 97, 0.54);
}

.btn-purple:hover {
    background: #641b9c;
    box-shadow: 0px 4px 20px rgba(68, 30, 97, 0.54);

}

/*! Additional form elements */
/* form label */
.kuramsoft-form-label {
    font-weight: 600;
    font-size: 14px;
    color: #000000;
}

.kuramsoft-form-label-active {
    font-weight: 700;
}

/* form default input */
.kuramsoft-form-default-input {
    width: 120px;
    height: 20px;
    padding: 6px 20px;
    border: none;
    outline: none;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
}

.kuramsoft-form-default-input-focus:focus {
    background: var(--primary-bg-color);
    border: 1px solid var(--input-border-color);
    box-shadow: 0px 0px 20px rgba(0, 157, 186, 0.19);
}

.kuramsoft-form-default-input-hover:hover {
    border: 1px solid var(--dshb-fourth-border-color);
}

.kuramsoft-form-default-input-disabled {
    background: var(--disabled-input-bg-color);
}


/*! form error input */

/* .input-field{
    position: relative;
} */
.kuramsoft-form-error-input {
    width: 120px;
    height: 20px;
    padding: 6px 35px 6px 20px;
    border: none;
    outline: none;
    border: 1px solid var(--error-input-border-second-color);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    position: relative;
}

/* .kuramsoft-input-icon{
    position: absolute;
    top: 10px;
    left: 160px;
} */
.kuramsoft-form-error-input-focus:focus {
    border: 1px solid var(--error-input-border-color);
    box-shadow: 0px 0px 20px rgba(235, 75, 75, 0.26);
}

.kuramsoft-form-error-input-hover:hover {
    border: 1px solid var(--error-input-border-color);
}

.kuramsoft-form-error-input-disabled {
    background: var(--disabled-input-bg-color);
}

/* form success input */
.kuramsoft-form-success-input {
    width: 120px;
    height: 20px;
    padding: 6px 35px 6px 20px;
    border: none;
    outline: none;
    border: 1px solid var(--success-input-border-color);
    border-radius: 5px;
    font-weight: 400;
    font-size: 14px;
    position: relative;
}

.kuramsoft-form-success-input::placeholder {
    opacity: 0.4;
}

.kuramsoft-form-success-input-focus:focus {
    border: 1px solid var(--success-input-border-color);
    box-shadow: 0px 0px 20px rgba(25, 160, 75, 0.17);
}

.kuramsoft-form-success-input-hover:hover {
    border: 1px solid var(--success-input-border-color);
}

.kuramsoft-form-success-input-disabled {
    background: var(--disabled-input-bg-color);
}


/* Form input checkbox */
.kuramsoft-form-default-checkbox,
.kuramsoft-form-default-radio {
    width: 15px;
    height: 15px;
}


/* ! Dashboard List Form Codes */
.filtr-btn {
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 11px;
    padding: 7px 7px 7px 17px;
    background: var(--dshb-btn-bg-color);
    border-radius: 100px;
    display: inline-flex;
    align-items: center;
    cursor: default;
}

.filtr-btn img {
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}

.add-filter {
    border: 1.5px solid #000000;
    outline: none;
    width: 40px;
    height: 23px;
    border-radius: 100px;
    background: transparent;
    transition: all 0.2s ease-in-out;
}

.add-filter:hover {
    background: #DBDBDB;
}

.add-filter:hover img {
    opacity: 0.4;
}

.add-filter img {
    width: 10px;
    height: 10px;
    float: left;
    margin-left: 10px;
}

/* * Combobox button */
.combobox-btn {
    background: #F2F2F2;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    padding: 13px 14px 13px 20px;
    font-weight: 700;
    font-size: 14px;
    gap: 20px;
}

.combobox-btn .menu-options {
    top: 51px;
    /* padding: 0 10px; */
}

.combobox-btn .menu-option-content {
    padding: 5px 10px;
}

/* ! add , upload and export buttons */
.add-btn,
.export-btn,
.upload-btn {
    padding: 11px 17px;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

:where(.add-btn, .export-btn, .upload-btn) img {
    width: 20px;
    height: 20px;
}

.add-btn {
    background: #D0EBFF;
}

.add-btn:hover {
    background: #add9fd;
}

.upload-btn {
    background: #D6E6FF;
}

.upload-btn:hover {
    background: #c4d6fd;
}

.export-btn {
    background: #FFE1F8;
}

.export-btn:hover {
    background: #fbb8eb;
}

/* ! Dashboard SubHeader count button */
.count-btn {
    width: 80px;
    height: 40px;
    background: rgba(106, 112, 126, 0.0001);
    border: 1px solid #DDDFE1;
}

.count-btn .menu-options {
    top: 38px;
}

.count-btn .menu-select img {
    width: 30px !important;
    height: 100% !important;
    padding: 3px !important;
    background: #E8EAEf;
}

.count-btn .menu-select div {
    background: #DDDFE1;
    width: 35px;
    padding: 6px;
}

.count-btn p {
    margin-left: 15px;
}

.count-btn .menu-options {
    left: 0 !important;
    width: 100% !important;
    top: 39px !important;
}

/* ! Dashboard Table permission buttons */
.table-per-btn {
    font-weight: 600;
    font-size: 12px;
    padding: 6px 17px;
    border-radius: 6px;
    border: none;
    outline: none;
    color: #FFFFFF;
}

.table-admin-btn {
    background: #55CCFF;
}

.table-admin-btn:hover {
    background-color: #4db5e8;
}

.table-contributor-btn {
    background: #FF9C55;
}

.table-contributor-btn:hover {
    background-color: #e88f4d;
}

.table-viewer-btn {
    background: #FF5555;
}

.table-viewer-btn:hover {
    background-color: #e84d4d;
}

.table-moderator-btn {
    background: #5855FF;
}

.table-moderator-btn:hover {
    background-color: #4d4de8;
}

.table-superAdmin-btn {
    background: #110F6F;
}

.table-superAdmin-btn:hover {
    background-color: #363580;
}

/*!! Dashboard Error Page  */
.error-container {
    display: flex;
    flex-direction: column;
    background: #F5F5F5;
    border: 1px solid #E0E0E0;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
}

.error-header-area {
    height: 16px;
    width: 100%;
}

.error-main-content {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 25px 35px;
    border-bottom: 1px solid #DBDBDB;
}

/* * Error Main Content Left */
.icon-error,
.icon-info,
.icon-success,
.icon-warning {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

/* :where(.icon-error, .icon-warning, .icon-success, .icon-info) span {
    font-size: 32px !important;
    font-weight: 900;
} */


/* * Error Main Content Right */
.error-main-content-right>h1 {
    font-size: 20px;
}

.error-main-content-right>p {
    font-size: 12px;
}



/* ? Container header colors  */
.error-header {
    background-color: #FFE2E2;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
    border-bottom: 3px solid #FFC3C3;
}

.info-header {
    background-color: #0168FF;
    border-bottom: 3px solid #9DC5FF;
}

.success-header {
    background-color: #83FF06;
    border-bottom: 3px solid #D8FFB1;
}

.warning-header {
    background-color: #FF9900;
    border-bottom: 3px solid #FFBE5C;
}

/* Error Container Footer buttons */
.error-footer-btns {
    text-align: right;
    padding: 6px 33px;
}

.error-footer-btns button {
    outline: none;
    border: 1px solid #AACCFE;
    padding: 9px 15px;
    font-weight: 700;
    font-size: 10px;
    color: #000000;
}

.error-footer-btns button:nth-child(1) {
    background: #FFFFFF;
}

.error-footer-btns button:nth-child(1):hover {
    background: #E8E8E8;
}

.error-footer-btns button:nth-child(2) {
    background: #21D1F8;
    margin-left: 10px;
}

.error-footer-btns button:nth-child(2):hover {
    background: #1db5d8;
}

/*! Dashboard Kanban Page */
/*? Kanban Header Buttons design */
.dashboard-kanban-head button,
.head-submenu-left button {
    font-weight: 700;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    gap: 15px;
    transition: all 0.3s ease-in-out;
}

.sub-menu-combobox {
    background: #2C2C2C;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
    color: white;
    font-size: 14px;
}

.sub-menu-combobox .menu-select {
    gap: 10px;
    padding: 0 10px;
    width: 145px;
    height: 40px !important;
}

.sub-menu-combobox .menu-options {
    left: 0 !important;
    width: 100% !important;
    top: 41px !important;
    background-color: #2C2C2C !important;
}

.head-submenu-left button {
    height: 45px;
    padding: 0 20px;
}

.kanban-new-btn {
    background: #BBFFB5;
    border: 1px solid #44FF34;
    border-radius: 4px;
    padding: 8px 15px;
}

.kanban-new-btn:hover {
    background-color: #53ff43;
}

.kanban-settings-btn {
    background-color: #70a9ff;
    border: 1px solid #0054D1;
    border-radius: 4px;
    padding: 11px 20px;
    color: #FFFFFF;
}

.kanban-settings-btn:hover {
    color: white;
    background: #0066FF;
}

/*! Dashboard Kanban subheader buttons design code */
.view-btn {
    background: #D0EBFF;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
}

.view-btn:hover {
    background: #9fd3fc;
}

.import-btn {
    background: #D6E6FF;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
}

.import-btn:hover {
    background: #96b4e4;
}

.sort-btn {
    background: #FFE1F8;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
}

.sort-btn:hover {
    background: #eb93d5;
}

.group-btn {
    background: #E1FDFF;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
}

.group-btn:hover {
    background: #aeeaee;
}