@page
@model TableModel
@{
    ViewData["Title"] = "Table";
}



<link rel="stylesheet" href="../css/dashboard/dashboard-table.css" />
<link rel="stylesheet" href="../css/app-manager/app-manager.css">

 <!-- Dashboard Table Container -->
    <section class="dashboard-table-container">
      <div class="dashboard-table-header">
        <div class="table-header-filtr">
          <button class="add-filter">
            <img src="../assets/icons/math-plus.svg" alt="" />
          </button>
          <p>Filtre</p>
          <button class="filtr-btn">
            <span>North American</span>
            <img src="../assets/icons/icon-close.svg" alt="close icon" />
          </button>
          <button class="filtr-btn">
            <span>Canada</span>
            <img src="../assets/icons/icon-close.svg" alt="close icon" />
          </button>
          <button class="filtr-btn">
            <span>Agency</span>
            <img src="../assets/icons/icon-close.svg" alt="close icon" />
          </button>
        </div>
        <div class="table-header-buttons">
          <div class="dshb-dropdown-menu sub-menu-combobox table-combobox">
            <div class="menu-select">
              <p>Combobox</p>
              <img src="../assets/icons/chevron-down.svg" alt="down" />
            </div>
            <div class="menu-options">
              <div class="menu-option-content">
                <p>Combobox</p>
              </div>
              <div class="menu-option-content">
                <p>Combobox 1</p>
              </div>
              <div class="menu-option-content">
                <p>Combobox 2</p>
              </div>
              <div class="menu-option-content">
                <p>Combobox 3</p>
              </div>
              <div class="menu-option-content">
                <p>Combobox 4</p>
              </div>
            </div>
          </div>
          <button class="table-btn add-btn">
            <span>Add</span>
            <img src="../assets/icons/insert-after-r.svg" alt="add icon">
          </button>
          <button class="table-btn upload-btn">
            <span>Upload</span>
            <img src="../assets/icons/insert-before.svg" alt="Upload icon">
          </button>
          <button class="table-btn export-btn">
            <span>Export</span>
            <img src="../assets/icons/export-btn.svg" alt="Export icon">
        </div>
      </div>
      <div class="dashboard-table-menu">
        <div class="table-menu-left">
          <p>Show</p>
          <div class="dshb-dropdown-menu count-btn">
            <div class="menu-select">
              <p>10</p>
              <img src="../assets/icons/chevron-down.svg" alt="down" />
            </div>
            <div class="menu-options">
              <div class="menu-option-content">
                <p>10</p>
              </div>
              <div class="menu-option-content">
                <p>20</p>
              </div>
              <div class="menu-option-content">
                <p>30</p>
              </div>
              <div class="menu-option-content">
                <p>40</p>
              </div>
              <div class="menu-option-content">
                <p>50</p>
              </div>
            </div>
          </div>
          <p>Entries</p>
          <a href="">20 records found</a>
          <span></span>
          <div class="table-search">
            <img src="../assets/icons/search.svg" alt="search icon" />
            <input type="text" placeholder="Search" />
          </div>

        </div>
        <div class="table-menu-pagination">
          <div class="pagination-box">
            <a href="#" class="pagination-active">Prev</a>
            <a href="#" class="pagination-active">01</a>
            <a href="#">02</a>
            <a href="#">...</a>
            <a href="#">05</a>
            <a href="#" class="pagination-active">Next</a>
          </div>
        </div>
      </div>
      <div class="dashboard-table">
        <div class="table-head">
          <div class="table-check">
            <input type="checkbox" name="" id="">
          </div>
          <div class="table-user">
            <span>User</span>
            <img src="../assets/icons/zeit.svg" alt="zeit">
          </div>
          <div class="table-fullname">
            <span>Ad/Soyad</span>
            <img src="../assets/icons/zeit.svg" alt="zeit">
          </div>
          <div class="table-filtr">
            <span>Filtreler</span>
            <img src="../assets/icons/zeit.svg" alt="zeit">
          </div>
          <div class="table-stars">
            <span>Yıldızlar</span>
            <img src="../assets/icons/zeit.svg" alt="zeit">
          </div>
          <div class="table-permission">
            <span>Permission</span>
            <img src="../assets/icons/zeit.svg" alt="zeit">
          </div>
          <div class="table-percent">
            <span>Yüzde</span>
            <img src="../assets/icons/zeit.svg" alt="zeit">
          </div>
          <div class="table-status">
            <span>Boş Text</span>
            <img src="../assets/icons/zeit.svg" alt="zeit">
          </div>
          <div class="table-link">
            <span>Text Link</span>
          </div>
          <div class="table-toggle">
            <span>Checkbox</span>
            <img src="../assets/icons/zeit.svg" alt="zeit">
          </div>
        </div>
        <div class="table-body">
          <div class="table-head table-row">
            <div class="table-check">
              <input type="checkbox" name="" id="" checked="true">
            </div>
            <div class="table-user">
              <img src="../assets/Images/Ozan Alatlı.svg" alt="">
            </div>
            <div class="table-fullname">
              <p>Ozan Alatlı</p>
            </div>
            <div class="table-filtr">
              <button class="filtr-btn">
                <span>North American</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
              <button class="filtr-btn">
                <span>Canada</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
            </div>
            <div class="table-stars">
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
            </div>
            <div class="table-permission">
              <button class="table-admin-btn table-per-btn">
                <span>Admin</span>
              </button>
            </div>
            <div class="table-percent bg-40">
              <p>40%</p>
            </div>
            <div class="table-status">
              <p>Low</p>
            </div>
            <div class="table-link">
              <a href="">View</a>
            </div>
            <div class="table-toggle">
              <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
          <div class="table-head table-row">
            <div class="table-check">
              <input type="checkbox" name="" id="">
            </div>
            <div class="table-user">
              <img src="../assets/Images/Eda Taştan.svg" alt="Eda Taştan">
            </div>
            <div class="table-fullname">
              <p>Eda Taştan</p>
            </div>
            <div class="table-filtr">
              <button class="filtr-btn">
                <span>Agency</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
            </div>
            <div class="table-stars">
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
            </div>
            <div class="table-permission">
              <button class="table-contributor-btn table-per-btn">
                <span>Contributor</span>
              </button>
            </div>
            <div class="table-percent bg-20">
              <p>20%</p>
            </div>
            <div class="table-status">
              <p>Medium</p>
            </div>
            <div class="table-link">
              <a href="">View</a>
            </div>
            <div class="table-toggle">
              <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
          <div class="table-head table-row table-row-lightblue">
            <div class="table-check">
              <input type="checkbox" name="" id="" checked="true">
            </div>
            <div class="table-user">
              <img src="../assets/Images/Osman Dağ.jpg" alt="Osman Dağ">
            </div>
            <div class="table-fullname">
              <p>Osman Dağ</p>
            </div>
            <div class="table-filtr">
              <button class="filtr-btn">
                <span>North American</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
            </div>
            <div class="table-stars">
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
            </div>
            <div class="table-permission">
              <button class="table-viewer-btn table-per-btn">
                <span>Viewer</span>
              </button>
            </div>
            <div class="table-percent bg-60">
              <p>60%</p>
            </div>
            <div class="table-status">
              <p>Medium</p>
            </div>
            <div class="table-link">
              <a href="">View</a>
            </div>
            <div class="table-toggle">
              <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
          <div class="table-head table-row">
            <div class="table-check">
              <input type="checkbox" name="" id="">
            </div>
            <div class="table-user">
              <img src="../assets/Images/Arif Bulut.jpg" alt="Arif Bulut">
            </div>
            <div class="table-fullname">
              <p>Arif Bulut</p>
            </div>
            <div class="table-filtr">
              <button class="filtr-btn">
                <span>Agency</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
              <button class="filtr-btn">
                <span>Filtrele</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
            </div>
            <div class="table-stars">
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
            </div>
            <div class="table-permission">
              <button class="table-moderator-btn table-per-btn">
                <span>Moderator</span>
              </button>
            </div>
            <div class="table-percent bg-90">
              <p>90%</p>
            </div>
            <div class="table-status">
              <p>High</p>
            </div>
            <div class="table-link">
              <a href="">View</a>
            </div>
            <div class="table-toggle">
              <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
          <div class="table-head table-row">
            <div class="table-check">
              <input type="checkbox" name="" id="" checked="true">
            </div>
            <div class="table-user">
              <img src="../assets/Images/Kadir Taş.jpg" alt="Kadir Taş">
            </div>
            <div class="table-fullname">
              <p>Kadir Taş</p>
            </div>
            <div class="table-filtr">
              <button class="filtr-btn">
                <span>North American</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
              <button class="filtr-btn">
                <span>Canada</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
            </div>
            <div class="table-stars">
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
            </div>
            <div class="table-permission">
              <button class="table-admin-btn table-per-btn">
                <span>Admin</span>
              </button>
            </div>
            <div class="table-percent bg-40">
              <p>40%</p>
            </div>
            <div class="table-status">
              <p>High</p>
            </div>
            <div class="table-link">
              <a href="">View</a>
            </div>
            <div class="table-toggle">
              <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
          <div class="table-head table-row table-row-orange">
            <div class="table-check">
              <input type="checkbox" name="" id="">
            </div>
            <div class="table-user">
              <img src="../assets/Images/Yücel Kabil.jpg" alt="Yücel Kabil">
            </div>
            <div class="table-fullname">
              <p>Yücel Kabil</p>
            </div>
            <div class="table-filtr">
              <button class="filtr-btn">
                <span>Agency</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
            </div>
            <div class="table-stars">
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
            </div>
            <div class="table-permission">
              <button class="table-contributor-btn table-per-btn">
                <span>Contributor</span>
              </button>
            </div>
            <div class="table-percent bg-20">
              <p>20%</p>
            </div>
            <div class="table-status">
              <p>Low</p>
            </div>
            <div class="table-link">
              <a href="">View</a>
            </div>
            <div class="table-toggle">
              <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
          <div class="table-head table-row">
            <div class="table-check">
              <input type="checkbox" name="" id="" checked="true">
            </div>
            <div class="table-user">
              <img src="../assets/Images/İpek Seçil.jpg" alt="İpek Seçil">
            </div>
            <div class="table-fullname">
              <p>İpek Seçil</p>
            </div>
            <div class="table-filtr">
              <button class="filtr-btn">
                <span>North American</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
            </div>
            <div class="table-stars">
              <img src="../assets/icons/icon-star.svg" alt="star" />
            </div>
            <div class="table-permission">
              <button class="table-viewer-btn table-per-btn">
                <span>Viewer</span>
              </button>
            </div>
            <div class="table-percent bg-60">
              <p>60%</p>
            </div>
            <div class="table-status">
              <p>Medium</p>
            </div>
            <div class="table-link">
              <a href="">View</a>
            </div>
            <div class="table-toggle">
              <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
          <div class="table-head table-row">
            <div class="table-check">
              <input type="checkbox" name="" id="">
            </div>
            <div class="table-user">
              <img src="../assets/Images/Onur Barış.jpg" alt="Onur Barış">
            </div>
            <div class="table-fullname">
              <p>Onur Barış</p>
            </div>
            <div class="table-filtr">
              <button class="filtr-btn">
                <span>Agency</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
              <button class="filtr-btn">
                <span>Filtrele</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
            </div>
            <div class="table-stars">
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
            </div>
            <div class="table-permission">
              <button class="table-superAdmin-btn table-per-btn">
                <span>Super Admin</span>
              </button>
            </div>
            <div class="table-percent bg-90">
              <p>90%</p>
            </div>
            <div class="table-status">
              <p>Super High</p>
            </div>
            <div class="table-link">
              <a href="">View</a>
            </div>
            <div class="table-toggle">
              <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
          <div class="table-head table-row">
            <div class="table-check">
              <input type="checkbox" name="" id="" checked="true">
            </div>
            <div class="table-user">
              <img src="../assets/Images/Evren Yüce.jpg" alt="Evren Yüce">
            </div>
            <div class="table-fullname">
              <p>Evren Yüce</p>
            </div>
            <div class="table-filtr">
              <button class="filtr-btn">
                <span>North American</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
            </div>
            <div class="table-stars">
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
            </div>
            <div class="table-permission">
              <button class="table-viewer-btn table-per-btn">
                <span>Viewer</span>
              </button>
            </div>
            <div class="table-percent bg-100">
              <p>100%</p>
            </div>
            <div class="table-status">
              <p>Low</p>
            </div>
            <div class="table-link">
              <a href="">View</a>
            </div>
            <div class="table-toggle">
              <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
          <div class="table-head table-row">
            <div class="table-check">
              <input type="checkbox" name="" id="">
            </div>
            <div class="table-user">
              <img src="../assets/Images/Ozan Alatlı.svg" alt="Ozan Alatlı">
            </div>
            <div class="table-fullname">
              <p>Coşkun Kaya</p>
            </div>
            <div class="table-filtr">
              <button class="filtr-btn">
                <span>Agency</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
              <button class="filtr-btn">
                <span>Filtrele</span>
                <img src="../assets/icons/icon-close.svg" alt="close icon" />
              </button>
            </div>
            <div class="table-stars">
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
              <img src="../assets/icons/icon-star.svg" alt="star" />
            </div>
            <div class="table-permission">
              <button class="table-moderator-btn table-per-btn">
                <span>Moderator</span>
              </button>
            </div>
            <div class="table-percent bg-90">
              <p>90%</p>
            </div>
            <div class="table-status">
              <p>Medium</p>
            </div>
            <div class="table-link">
              <a href="">View</a>
            </div>
            <div class="table-toggle">
              <label class="switch">
                <input type="checkbox" id="checkbox" />
                <span class="slider"></span>
              </label>
            </div>
          </div>
        </div>
    </div>
</section>

